/**
 * About Me widget.
 */
.about-me {
  img {
    display: inline;
    height: 1rem;
    width: 1rem;
    padding: 0;
    margin: 0;
  }

  ul {
    display: inline-block;
    padding-left: 1rem;

    li {
      padding: 0.25rem 0.5rem;
      margin: 0.25rem;
      border-radius: 0.25rem;
      background: #00000005;
    }
  }

  .custom-thingiverse {
    width: 1rem;
    height: 1rem;
  }
}

.network-icon .custom-thingiverse {
  max-width: 1rem;
  max-height: 1rem;
}

.custom-thingiverse {
  display: inline-block;
  max-width: 2rem;
  max-height: 2rem;
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='1024px' height='1024px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath fill='%231565c0' d='M 480.5,-0.5 C 501.167,-0.5 521.833,-0.5 542.5,-0.5C 719.126,15.018 854.959,97.018 950,245.5C 993.135,318.068 1017.64,396.402 1023.5,480.5C 1023.5,501.167 1023.5,521.833 1023.5,542.5C 1007.98,719.126 925.982,854.959 777.5,950C 704.932,993.135 626.598,1017.64 542.5,1023.5C 521.833,1023.5 501.167,1023.5 480.5,1023.5C 303.874,1007.98 168.041,925.982 73,777.5C 29.865,704.932 5.36499,626.598 -0.5,542.5C -0.5,521.833 -0.5,501.167 -0.5,480.5C 15.018,303.874 97.018,168.041 245.5,73C 318.068,29.865 396.402,5.36499 480.5,-0.5 Z M 199.5,263.5 C 406.167,263.5 612.833,263.5 819.5,263.5C 819.5,303.5 819.5,343.5 819.5,383.5C 739.5,383.5 659.5,383.5 579.5,383.5C 579.5,543.5 579.5,703.5 579.5,863.5C 532.833,863.5 486.167,863.5 439.5,863.5C 439.5,703.5 439.5,543.5 439.5,383.5C 359.5,383.5 279.5,383.5 199.5,383.5C 199.5,343.5 199.5,303.5 199.5,263.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.dark {
  .custom-thingiverse {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='1024px' height='1024px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath fill='%23bbdefb' d='M 480.5,-0.5 C 501.167,-0.5 521.833,-0.5 542.5,-0.5C 719.126,15.018 854.959,97.018 950,245.5C 993.135,318.068 1017.64,396.402 1023.5,480.5C 1023.5,501.167 1023.5,521.833 1023.5,542.5C 1007.98,719.126 925.982,854.959 777.5,950C 704.932,993.135 626.598,1017.64 542.5,1023.5C 521.833,1023.5 501.167,1023.5 480.5,1023.5C 303.874,1007.98 168.041,925.982 73,777.5C 29.865,704.932 5.36499,626.598 -0.5,542.5C -0.5,521.833 -0.5,501.167 -0.5,480.5C 15.018,303.874 97.018,168.041 245.5,73C 318.068,29.865 396.402,5.36499 480.5,-0.5 Z M 199.5,263.5 C 406.167,263.5 612.833,263.5 819.5,263.5C 819.5,303.5 819.5,343.5 819.5,383.5C 739.5,383.5 659.5,383.5 579.5,383.5C 579.5,543.5 579.5,703.5 579.5,863.5C 532.833,863.5 486.167,863.5 439.5,863.5C 439.5,703.5 439.5,543.5 439.5,383.5C 359.5,383.5 279.5,383.5 199.5,383.5C 199.5,343.5 199.5,303.5 199.5,263.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
